<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>994972928600-p71l019kf8h1eirg9eho4v89t5o9kb6k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.994972928600-p71l019kf8h1eirg9eho4v89t5o9kb6k</string>
	<key>API_KEY</key>
	<string>AIzaSyBNN5IvIU0ePCMl5xJbsYLkxPqH1vu2_38</string>
	<key>GCM_SENDER_ID</key>
	<string>994972928600</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.karenchiu.RooMeet</string>
	<key>PROJECT_ID</key>
	<string>roomeet-68ba6</string>
	<key>STORAGE_BUCKET</key>
	<string>roomeet-68ba6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:994972928600:ios:907bcaa8acdded1639d82d</string>
</dict>
</plist>